<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Month search analysis</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        function showHistory() {
            $.ajax({
                url: '/showhistory',
                type: 'post',
                dataType: 'jsonp', //jsonp does not support post here , it will turn to error
                data: {},
                success: function (response) {
                    if (response.readyState === 4) {
                        var responseData = response.responseText;
                        // format the data obtained by jsonp by dump the data an object array
                        responseData = JSON.parse(responseData);
                        var responseDataArr = [];
                        Object.keys(responseData).forEach(function (key) {
                            let tempObj = {};
                            tempObj.letter = key
                            tempObj.frequency = responseData[key]
                            responseDataArr.push(tempObj)
                        })
                        //if the response is null
                        if (responseDataArr.length === 0) {
                            var noResultText = `<p class="no-result">Sorry, you have no history...</p>`;
                            $('.response-data').html(noResultText);
                        } else {
                            $(".start-btn").attr("disabled", true);
                            var margin = {top: 40, right: 20, bottom: 30, left: 40},
                                totalWidth = 1000,
                                totalHeight = 500,
                                width = totalWidth - margin.left - margin.right,
                                height = totalHeight - margin.top - margin.bottom;
                            var formatPercent = d3.format("");

                            // define a scale
                            var xScale = d3.scaleBand()
                                .range([0, width])
                                .padding(0.2);
                            var yScale = d3.scaleLinear()
                                .range([height, 0]);
                            // define axises
                            var xAxis = d3.axisBottom(xScale);
                            var yAxis = d3.axisLeft(yScale)
                                .tickFormat(formatPercent);
                            // create plot areas
                            var svg = d3.select("#container-svg")
                                .append("svg")
                                .attr("width", totalWidth)
                                .attr("height", totalHeight)
                                .append("g")
                                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                            data = responseDataArr;
                            xScale.domain(data.map(function (d) {
                                return d.letter;
                            }));
                            yScale.domain([0, d3.max(data, function (d) {
                                return d.frequency;
                            })]);
                            svg.append("g")
                                .attr("class", "x-axis")
                                .attr("transform", "translate(0," + height + ")")
                                .call(xAxis);
                            svg.append("g")
                                .attr("class", "y-axis")
                                .call(yAxis)
                                .append("text").attr("transform", "rotate(0)")
                                .attr("y", 6).attr("dy", "0.71em")
                                .attr("text-anchor", "end").text("frequency");

                            svg.append("g")
                                .attr("class", "bars")
                                .selectAll(".bar")
                                .data(data).enter()
                                .append("rect").attr("class", "bar")
                                .attr("x", function (d) {
                                    return xScale(d.letter);
                                })
                                .attr("width", xScale.bandwidth())
                                .attr("y", function (d) {
                                    return yScale(d.frequency);
                                })
                                .attr("height", function (d) {
                                    return height - yScale(d.frequency);
                                })
                              .selectAll("text")
                                .attr("transform", "rotate(30)");



                            // plot legends
                            var legendWrap = svg.append("g");
                            var series = legendWrap.append("g").attr("class", "series");
                            series.append("circle")
                                .attr("stroke-width", 2)
                                .attr("fill", "steelblue")
                                .attr("stroke", "steelblue")
                                .attr("r", 6);
                            series.append("text")
                                .attr("font-size", "0.75em")
                                .attr("text-anchor", "start")
                                .attr("dy", ".32em")
                                .attr("dx", 12)
                                .text("Search Record");
                            var legendWidth = legendWrap.node().getBoundingClientRect().width;
                            legendWrap.attr("transform", "translate(" + (width - legendWidth) / 2 + ", -16)");

                        }
                    }
                },
                error: function (response) {    // as jsonp doesnot accept post method, use a trick here
                    if (response.readyState === 4) {
                        var responseData = response.responseText;
                        //
                        responseData = JSON.parse(responseData);
                        var responseDataArr = [];
                        Object.keys(responseData).forEach(function (key) {
                            let tempObj = {};
                            tempObj.letter = key
                            tempObj.frequency = responseData[key]
                            responseDataArr.push(tempObj)
                        })
                        //
                        if (responseDataArr.length === 0) {
                            var noResultText = `<p class="no-result">Sorry, you have no history...</p>`;
                            $('.response-data').html(noResultText);
                        } else {
                            $(".start-btn").attr("disabled", true);
                            var margin = {top: 40, right: 20, bottom: 30, left: 40},
                                totalWidth = 1000,
                                totalHeight = 500,
                                width = totalWidth - margin.left - margin.right,
                                height = totalHeight - margin.top - margin.bottom;
                            var formatPercent = d3.format("");

                            // define scale
                            var xScale = d3.scaleBand()
                                .range([0, width])
                                .padding(0.2);
                            var yScale = d3.scaleLinear()
                                .range([height, 0]);
                            // plot axises
                            var xAxis = d3.axisBottom(xScale);
                            var yAxis = d3.axisLeft(yScale)
                                .tickFormat(formatPercent);
                            // create plot area
                            var svg = d3.select("#container-svg")
                                .append("svg")
                                .attr("width", totalWidth)
                                .attr("height", totalHeight)
                                .append("g")
                                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                            data = responseDataArr;
                            xScale.domain(data.map(function (d) {
                                return d.letter;
                            }));
                            yScale.domain([0, d3.max(data, function (d) {
                                return d.frequency;
                            })]);
                            svg.append("g")
                                .attr("class", "x-axis")
                                .attr("transform", "translate(0," + height + ")")
                                .call(xAxis);
                            svg.append("g")
                                .attr("class", "y-axis")
                                .call(yAxis)
                                .append("text").attr("transform", "rotate(0)")
                                .attr("y", 6).attr("dy", "0.71em")
                                .attr("text-anchor", "end").text("frequency");

                            svg.append("g")
                                .attr("class", "bars")
                                .selectAll(".bar")
                                .data(data).enter()
                                .append("rect").attr("class", "bar")
                                .attr("x", function (d) {
                                    return xScale(d.letter);
                                })
                                .attr("width", xScale.bandwidth())
                                .attr("y", function (d) {
                                    return yScale(d.frequency);
                                })
                                .attr("height", function (d) {
                                    return height - yScale(d.frequency);
                                })
                              .selectAll("text")
                                .attr("transform", "rotate(30)");



                            // plot legends
                            var legendWrap = svg.append("g");
                            var series = legendWrap.append("g").attr("class", "series");
                            series.append("circle")
                                .attr("stroke-width", 2)
                                .attr("fill", "steelblue")
                                .attr("stroke", "steelblue")
                                .attr("r", 6);
                            series.append("text")
                                .attr("font-size", "0.75em")
                                .attr("text-anchor", "start")
                                .attr("dy", ".32em")
                                .attr("dx", 12)
                                .text("Search Record");
                            var legendWidth = legendWrap.node().getBoundingClientRect().width;
                            legendWrap.attr("transform", "translate(" + (width - legendWidth) / 2 + ", -16)");

                        }
                    }
                }
            });
        }
    </script>
    <style>
        .middle {
            margin: 100px auto;
            text-align: center;
        }

        .btn.btn-default.start-btn {
            width: 200px;
            height: 34px;
            cursor: pointer;
        }

        img#load {
            width: 300px;
        }

        .no-result {
            color: #ccc;
        }

        .response-data {
            text-align: center;
        }

        #container-svg {
            margin: 100px auto;
        }
        .bar {
          fill: steelblue;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="middle">
        <div class="title">
            <h2>Monthly searching analysis</h2>
        </div>
        <button class="btn btn-default start-btn" onclick="showHistory()">Start analysis</button>
        <div class="response-data">
            <div id="container-svg"></div>
        </div>
    </div>
</div>
</body>
</html>
